<table class="container">
    <thead>
        <th [width]="25">ID</th>
        <th>Marca</th>
        <th>Versión</th>
        <th [width]="80">Ram</th>
        <th [width]="200">Almacenamiento</th>
        <th>Estado</th>
        <th [width]="150">Fecha de Actualizacion</th>
        <th [width]="140">Fecha de Registro</th>
        <th colspan="2">Opciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let Cel of phonesService.celulares" class="tablec">
            <td>{{Cel.idPh}}</td>
            <td>{{Cel.Marca}}</td>
            <td>{{Cel.AndroidVersion}}</td>
            <td>{{Cel.Ram}}</td>
            <td>{{Cel.Almacenamiento}}</td>
            <td>{{Cel.Estado}}</td>
            <td>{{Cel.FechaActualizacion}}</td>
            <td>{{Cel.FechaRegistro}}</td> 
            <td>
                <button class="btn btn-warning" (click)="getPhoneOne(Cel)">
                    <i class="material-icons">edit</i>
                </button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deletePhone(Cel.idPh)">
                    <i class="material-icons">delete</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>