<div class="card">
    <div class="card-body">
        <form #phoneForm="ngForm">
            <div class="row" hidden>
                <div class="col-lg-6">
                    <label for="txtId" class="form-label">Id</label>
                    <input type="text" id="txtId" name="idPh" class="form-control"
                    [(ngModel)]="phonesServise.selectCel.idPh">
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="txtMarca" class="form-label">Marca de Celular</label>
                    <input type="text" id="txtMarca" name="Marca" class="form-control"
                    [(ngModel)]="phonesServise.selectCel.Marca">
                </div>
                <div class="col-lg-6">
                    <label for="txtVersion" class="form-label">Version de Android o IOs</label>
                    <input type="text" id="txtVersion" name="AndroidVersion" class="form-control"
                    [(ngModel)]="phonesServise.selectCel.AndroidVersion">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="txtRam" class="form-label">Ram del celular</label>
                    <input type="text" id="txtRam" name="Ram" class="form-control"
                    [(ngModel)]="phonesServise.selectCel.Ram">
                </div>
                <div class="col-lg-6">
                    <label for="txtAlmacenamiento" class="form-label">Almacenamiento</label>
                    <input type="text" id="txtAlmacenamiento" name="Almacenamiento" class="form-control"
                    [(ngModel)]="phonesServise.selectCel.Almacenamiento">
                </div>
<br>
                <div class="col-lg-6">
                    <label for="txtSt" class="form-label">Estado</label>
                    <input type="text" id="txtSt" name="Estado" class="form-control"
                    [(ngModel)]="phonesServise.selectCel.Estado">
                </div>
                <div class="col-lg-6">
                    <label for="txtFA" class="form-label">Fecha de Actualizacion</label>
                    <input type="text" id="txtFA" name="FechaActualizacion" class="form-control"
                    [(ngModel)]="phonesServise.selectCel.FechaActualizacion">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <button *ngIf="phonesServise.update==false" class="btn btn-primary" (click)="addPhone(phoneForm)">Guardar</button>
                        <button *ngIf="phonesServise.update==true" class="btn btn-warning" (click)="putPhone(phoneForm)">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>