<div class="card">
    <div class="card-body">
        <form action="">
            <div class="row">
                <div class="col-lg-6">
                    <label for="txtMatricula" class="form-label">Id Celular</label>
                    <input type="text" id="txtMatricula" name="IdPh" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="txtNombre" class="form-label">Marca de Celular</label>
                    <input type="text" id="txtNombre" name="Marca" class="form-control">
                </div>
                <div class="col-lg-6">
                    <label for="txtApellidos" class="form-label">Version de Android o IOs</label>
                    <input type="text" id="txtApellidos" name="AndroidVersion" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="txtCuatrimestre" class="form-label">Ram del celular</label>
                    <input type="text" id="txtCuatrimestre" name="Ram" class="form-control">
                </div>
                <div class="col-lg-6">
                    <label for="txtPromedio" class="form-label">Almacenamiento</label>
                    <input type="text" id="txtPromedio" name="Almacenamiento" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn btn-primary">
                        Guardar
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>